
    <a routerLink="" >
        <div class="start-arrow start-arrow--backward">Back</div>
      </a>


<div class="home-content">
  
  <div class="home-content__meal-creation">
    <div class="home-content__meal" [@menuAnime]='state' >
    
    </div>
  </div>

  <div class="container" >
    <div class="button button--green" [@menuAnime]='state' (click)="animateMe()">BASE</div>
    <div class="button button--red" [@menuAnime]='state' (click)="animateMe()">PROTEIN</div>
    <div class="button button--yellow" [@menuAnime]='state' (click)="animateMe()">SIDES</div>
    <div class="button button--purple" [@menuAnime]='state' (click)="animateMe()">SAUCE</div>
    <div class="shaped" [@menuAnime]='state'>
        
       <div class="ingredients"> Row of ingredients</div>
       <div class="ingredients"> Row of ingredients</div>
       <div class="ingredients"> Row of ingredients</div>
       <div class="ingredients"> Row of ingredients</div>
       <div class="ingredients"> Row of ingredients</div>
       <div class="ingredients"> Row of ingredients</div>
       <div class="ingredients"> Row of ingredients</div>
    </div>
  </div>
</div>






